<div class="component-starts">

  <div class="back_to_cart"> <a routerLink="/shipping_address"><i class="fa fa-angle-left"></i> Back to Address List</a></div>

  <div class="cart_shipping_heading">Shipping Address</div>
  <div class="cart_shipping_body">

    <div class="cart_shipping_body_button_box">
      <button >John Smith<br>15 Freemans Rd, Mt Eliza VIC 3930, Australia</button>
      <i class="fa fa-check" routerLink="/shipping"></i><br>

    </div>

    <div class="shipping_option">
      Select shipping option
      <button class="select_shipping">Standard Shipping<br>$9.00</button>
      <i class="fa fa-angle-right select_shipping_i" ></i><br>
    </div>



  </div>

</div>
