.component-starts{
    padding:20px;
    background: #EDEDED;
    min-height: 100vh;
}

a{
    color: #69A2C6;
    font-size: 20px;
}

.back_to_cart{

    font-size: 20px;
}

.back_to_cart i{
    margin-right: 10px;
    font-size: 26px;
    top: 2px;
    position: relative;
}

.cart_shipping_heading{
    font-size: 40px;
    padding: 30px;
    font-weight: 500;
}

.cart_shipping_body{
    text-align: center;
    font-size: 26px;
    margin-top: 60px;
    padding: 20px;
    margin-bottom: 30%;
}

.cart_shipping_body .cart_shipping_body_info{
    width: 75%;
    margin:auto;
    text-align: center;
}


.cart_shipping_body_button_box i{
    color: #63A2C5;
    font-size: 35px;
    position: absolute;
    left: 71%;
    padding-top: 17px;

}

.cart_shipping_body_button_box button{
    width: 55%;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    background: #fff;
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

.cart_shipping_body_button_box .add_new_button{
  font-size: 25px;
  background-color: #63A2C5;
  color: #fff;
}


@media only screen and (max-width:467px){
    a,.cart_shipping_body .cart_shipping_body_info{ width: 100%;    font-size: 18px;}
    .cart_shipping_body_info{text-align: justify;margin:auto; padding:10px 20px;}
    .cart_shipping_body_button_box button{font-size: 11.69px;  width: 100%; }
    .cart_shipping_body_button_box i { left: 82%;  font-size: 25px;  padding-top: 22px;}
    .shipping_option .select_shipping{  font-size: 20px;}
    .shipping_option .select_shipping_i{ padding-top: 13px;}
    .cart_shipping_body {margin-top: 10px;}
    .cart_shipping_heading { font-size: 32px; padding: 20px 10px;}
    .back_to_cart{font-size: 13px;}
    .back_to_cart i{font-size: 20px;top: 0px;}
    .cart_shipping_body_button_box{
      padding:0px;
    }
}


@media only screen and (max-width:350px){
  .cart_shipping_body_button_box i { left: 82%;  font-size: 25px;  padding-top: 30px;}

}

.shipping_option button{
  width: 55%;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  background: #fff;
  font-size: 15px;
  text-align: left;
  padding: 15px;
}

.shipping_option i{
  left: 82%;  font-size: 25px;  padding-top: 30px;
}

.shipping_option .select_shipping{
  font-size: 25px;
  background-color: #63A2C5;
  color: #fff;
}

.shipping_option .select_shipping_i{
  color: #fff;
}
