<div class="component-starts" >
    <div class="back_to_cart"> <a routerLink="/login"><i class="fa fa-angle-left"></i> Back</a></div>

    <div class="cart_shipping_heading">Address</div>

    <div class="cart_shipping_body">
      <div class="cart_shipping_body_info">Find your shipping address</div><br>


      <div class="cart_shipping_body_button_box">
        <button >John Smith<br>15 Freemans Rd, Mt Eliza VIC 3930, Australia</button>

      </div>


      <div class="back_to_cart"> <a routerLink="/login"> Add New Address</a></div>



    </div>
</div>
