<div class="component-starts">

  <div class="main-face oily" >
    <div class="main-con">
      <div class="center_face">
        <img class="face-first" src="assets\img\Asset 26@4x.png">
      </div>
      <div class="heading-face">
        <p class="h_face"><b>Faceprint</b> analyses your skin &
          creates custom skincare for you. </p>
      </div>
    </div>

    <div class="c">
      <div class="face">
        <img  class="face_img" src="assets/img/faceprint_normal.png">
      </div>
      <div class="begin_face_div">
        Begin <a routerLink="/faceprint/oily"><i class="fa fa-angle-right"></i></a>

      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <p class="footer-face-p">Not to be treated as medical diagnoses<br>
            or advice.</p>
          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>

</div>