<div class="component-starts">
  <div class="faceprint_analys_head_imag">
    <img src="assets/img/faceprint_analys_tick.png" />
  </div>

  <div class="faceprint_anlys_heading">Your Faceprint</div>

  <div class="faceprint_anlys_login_"><b>Log In</b> or <b>Sign Up</b> to Save Your Faceprint</div>

  <!-- faceprint categories starts  -->
  <div class="faceprint_analys_head_face">
    <img src="assets/img/faceprint_face.png" />
  </div>

  <div class="faceprint_anlys_cate col-md-12">
    <div class="faceprint_anlys_cate_img ">
      <img class="" src="assets/img/faceprint/faceprint_anal_oily.png" />
    </div>

    <div class="faceprint_anlys_cate_img ">
      <img class="" src="assets/img/faceprint/faceprint_anal_sensitive.png" />
    </div>

    <div class="faceprint_anlys_cate_img">
      <img class="" src="assets/img/faceprint/faceprint_anal_lines.png" />
    </div>

    <div class="faceprint_anlys_cate_img">
      <img class="" src="assets/img/faceprint/faceprint_anal_pigmnted.png" />
    </div>
  </div>

  <div class="faceprint_anlys_cate col-md-12">
    <div class="faceprint_anlys_cate_text">
      <p>Oily</p>
    </div>

    <div class="faceprint_anlys_cate_text">
      <p>Very Sensitive</p>
    </div>

    <div class="faceprint_anlys_cate_text">
      <p>Deep Lines</p>
    </div>

    <div class="faceprint_anlys_cate_text">
      <p>Extensive Sun Damage</p>
    </div>
  </div>
  <!-- faceprint categories ends  -->

  <!-- best ingredients section starts -->
  <div class="best_ingrdient_analysis">
    <div class="best_ingrdient_analysis_left">
      <img src="assets/img/faceprint/faceprint_anal_ingred.png" />
    </div>
    <div class="best_ingrdient_analysis_right">
      Best Ingredients for Me <i class="fa fa-angle-right"></i>
    </div>
  </div>
  <!-- best ingredients section ENDs -->

  <hr style="color:#a3a3a3; width: 95%; margin:auto;">

  <div class="faceprint_anlys_heading mb-20 faceprint_anlys_skin_choosen">Skincare Chosen <br> for You</div>

  <div class="faceprint_anlys_login_">All Bace products have a 30-day <br> Money-back Guarantee. <b>Read more </b><i
      class="fa fa-angle-right"></i></div>

  <div class="price_Section_analysis">
    <span><del>$254.00</del></span><br>
    <span>$225.00</span> <br>
    <span class="faceprint_anlys_login_">Free Shipping</span>
  </div>

  <div style="text-align:center;">
    <button class="btn btn-info save_cart">Save 10% & Add 3 to Cart</button>
  </div>

  <!-- add to cart section 1 starts -->
  <div class="analysis_add_to_cart_sec">
    <!-- <img src="assets/img/faceprint_analys_bottle.png" /> -->

    <div class="lifting_up">

      <div class="prod_title_analys">3% Ferulic Acid + 3% Resveratrol </div>
      <div class="prod_info_analys">Serum </div>

      <div class="cart_card_category mt-20">
        <div class="card">
          <img src="assets/img/strength.png" class="card-img-top" alt="..."><br>
          <span>Strength</span>
        </div>
        <div class="card">
          <img src="assets/img/antioxidant.png" class="card-img-top" alt="..."><br>
          <span>Antioxidants</span>
        </div>
        <div class="card">
          <img src="assets//img/brightening.png" class="card-img-top" alt="..."><br>
          <span>Brightening</span>
        </div>
      </div>

      <div class="price_Section_analysis">
        <span>$54.00</span> <br>
        <span class="faceprint_anlys_login_">Free Shipping</span>
      </div>

      <div style="text-align:center;">
        <button class="btn btn-outline-dark add_cart_analysis">Add to Cart</button>
      </div>

      <div class="price_Section_analysis">
        <span class="faceprint_anlys_login_  how_to_use_analys"><b>Show How To Use</b></span> <br>
        <span class="faceprint_anlys_login_">Show Full Ingredient List</span>
      </div>

      <hr style="color:#a3a3a3; width: 95%; margin:auto;margin-top: 30px;">

    </div>
  </div>
  <!-- add to cart section 1 ends -->
  <!-- <div class="container">
    <img src="assets/img/faceprint_analys_bottle.png" alt="image"  style="width:100%;">
    <div class="centered">
      3% Ferulic Acid + 3% Resveratrol 
    </div>
  </div> -->

  <!-- add to cart section 2 starts -->
  <div class="analysis_add_to_cart_sec  ">
    <!-- <img src="assets/img/faceprint_analys_bottle.png" /> -->

    <div class="lifting_up">

      <div class="prod_title_analys">3% Ferulic Acid + 3% Resveratrol </div>
      <div class="prod_info_analys">Serum </div>

      <div class="cart_card_category">
        <div class="card">
          <img src="assets/img/strength.png" class="card-img-top" alt="..."><br>
          <span>Strength</span>
        </div>
        <div class="card">
          <img src="assets/img/antioxidant.png" class="card-img-top" alt="..."><br>
          <span>Antioxidants</span>
        </div>
        <div class="card">
          <img src="assets//img/brightening.png" class="card-img-top" alt="..."><br>
          <span>Brightening</span>
        </div>
      </div>

      <div class="price_Section_analysis">
        <span>$54.00</span> <br>
        <span class="faceprint_anlys_login_">Free Shipping</span>
      </div>

      <div style="text-align:center;">
        <button class="btn btn-outline-dark add_cart_analysis">Add to Cart</button>
      </div>

      <div class="price_Section_analysis">
        <span class="faceprint_anlys_login_ how_to_use_analys"><b>Show How To Use</b></span> <br>
        <span class="faceprint_anlys_login_">Show Full Ingredient List</span>
      </div>

      <hr style="color:#a3a3a3; width: 95%; margin:auto;margin-top: 30px;">

    </div>

  </div>
  <!-- add to cart section 2 ends -->

  <!-- add to cart section 3 starts -->
  <div class="analysis_add_to_cart_sec  ">
    <!-- <img src="assets/img/faceprint_analys_bottle.png" /> -->

    <div class="lifting_up">

      <div class="prod_title_analys">3% Ferulic Acid + 3% Resveratrol </div>
      <div class="prod_info_analys">Serum </div>

      <div class="cart_card_category">
        <div class="card">
          <img src="assets/img/strength.png" class="card-img-top" alt="..."><br>
          <span>Strength</span>
        </div>
        <div class="card">
          <img src="assets/img/antioxidant.png" class="card-img-top" alt="..."><br>
          <span>Antioxidants</span>
        </div>
        <div class="card">
          <img src="assets//img/brightening.png" class="card-img-top" alt="..."><br>
          <span>Brightening</span>
        </div>
      </div>

      <div class="price_Section_analysis">
        <span>$54.00</span> <br>
        <span class="faceprint_anlys_login_">Free Shipping</span>
      </div>

      <div style="text-align:center;">
        <button class="btn btn-outline-dark add_cart_analysis">Add to Cart</button>
      </div>

      <div class="price_Section_analysis">
        <span class="faceprint_anlys_login_ how_to_use_analys"><b>Show How To Use</b></span> <br>
        <span class="faceprint_anlys_login_">Show Full Ingredient List</span>
      </div>

    </div>

  </div>
  <!-- add to cart section 3 ends -->

  <div class="main_prog">

    <div >
      <p class="footer-face-p">Not to be treated as medical diagnoses<br>
        or advice.</p>
      <p class="footer-face-p">Bace cannot view or share your<br>
        personal Faceprint information.
      </p>
    </div>

  </div>


</div>