<div class="component-starts">
  <div class="faceprint_analys_head_imag">
    <img src="../../../assets/img/faceprint_analys_tick.png" />
  </div>

  <div class="faceprint_anlys_heading">Your Faceprint</div>

  <div class="faceprint_anlys_login_"><b>Log In</b> or <b>Sign Up</b> to Save Your Faceprint</div>

  <div class="faceprint_analys_head_face">
      <img src="../../../assets/img/faceprint_face.png" />
    </div>

  <div class="faceprint_anlys_cate col-md-12">
    <div class="faceprint_anlys_cate_img ">
      <img class="" src="../../../assets/img/faceprint/faceprint_anal_oily.png" />
    </div>

    <div class="faceprint_anlys_cate_img ">
      <img class="" src="../../../assets/img/faceprint/faceprint_anal_sensitive.png" />
    </div>

    <div class="faceprint_anlys_cate_img">
      <img class="" src="../../../assets/img/faceprint/faceprint_anal_lines.png" />
    </div>

    <div class="faceprint_anlys_cate_img">
      <img class="" src="../../../assets/img/faceprint/faceprint_anal_pigmnted.png" />
    </div>
  </div>

  <div class="faceprint_anlys_cate col-md-12">
    <div class="faceprint_anlys_cate_text">
      <span>Oily</span>
    </div>

    <div class="faceprint_anlys_cate_text">
      <span>Very Sensitive</span>
    </div>

    <div class="faceprint_anlys_cate_text">
      <span>Deep Lines</span>
    </div>

    <div class="faceprint_anlys_cate_text">
      <span>Extensive Sun Damage</span>
    </div>
  </div>
</div>