<div class="component-starts">
  <div class=" jumbotron bace_info_top">
    <p class="bace_info_top_head">BACE</p>
    <p class="bace_info_top_info">Info</p>
  </div>
  <div class=" jumbotron bace_info_about_bace">
    <p class="bace_info_top_head"> About BACE</p>

  </div>

  <div class="button_one">
    <button routerLink="/t&c" type="button" class="block">
      <div class="left">
        <h2 class="pri_h">Careers</h2>
        <p class="pri_p">View easy-to-understand terms & conditions
          between you & Bace</p>
      </div>
      <div class="right">
        <i class="fa fa-angle-right"></i>
      </div>
    </button>
  </div>
  <div class="button_one">
    <button routerLink="/ip" type="button" class="block">
      <div class="left">
        <h2 class="pri_h">Bace Resellers</h2>
        <p class="pri_p">Browse reselling & dropshipping options</p>
      </div>
      <div class="right">
        <i class="fa fa-angle-right"></i>
      </div>
    </button>
  </div>

  <div class="press_releases">
    <div class="text_center press_releases_head">Press Releases</div>

    <div claSS="press_release_box">
      <div class="press_release_box_left">
          <img src="assets/img/bace_info_building_back.png" />
      </div>

      <div class="press_release_box_right">
        <div class="press_release_box_right_left">
          <span class="press_release_box_right_left_title">Lorum Ipsum </span>
          <p class="press_release_box_right_left_info">1 Apr 2019 </p>
          <div class="press_release_box_right_left_details">Lorum ipsum dit amet oleo ill
              thie asjs cioe ue nfeu nasj eu
              nceu aneae ceu cenau ecna
              euc </div>
        </div>
        <div class="press_release_box_right_right">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>

    <hr class="clear">

    <div claSS="press_release_box clear">
      <div class="press_release_box_left">
          <img src="assets/img/bace_info_building_back.png" />
      </div>

      <div class="press_release_box_right">
        <div class="press_release_box_right_left">
          <span class="press_release_box_right_left_title">Lorum Ipsum </span>
          <p class="press_release_box_right_left_info">1 Apr 2019 </p>
          <div class="press_release_box_right_left_details">Lorum ipsum dit amet oleo ill
              thie asjs cioe ue nfeu nasj eu
              nceu aneae ceu cenau ecna
              euc </div>
        </div>
        <div class="press_release_box_right_right">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>

    <hr class="clear">

    <div claSS="press_release_box clear">
        <div class="press_release_box_left">
            <img src="assets/img/bace_info_building_back.png" />
        </div>
  
        <div class="press_release_box_right">
          <div class="press_release_box_right_left">
            <span class="press_release_box_right_left_title">Lorum Ipsum </span>
            <p class="press_release_box_right_left_info">1 Apr 2019 </p>
            <div class="press_release_box_right_left_details">Lorum ipsum dit amet oleo ill
                thie asjs cioe ue nfeu nasj eu
                nceu aneae ceu cenau ecna
                euc </div>
          </div>
          <div class="press_release_box_right_right">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>

     

  </div>
  <div class="text_center clear mt-20">
      <button class="btn btn-dark pressroom_btn"> Pressroom</button>
  </div>
  
  

  <!-- <img src="assets/img/bace_info_girl_back.png" /> -->

</div>