<header class="header-section">

<nav class="navbar " style="position: fixed!important;">
    <a class="navbar-brand" class="site-logo">
    <!--<img src="img/logo.png" alt="logo" width="105px;">-->
    <h3>BACE</h3>
  </a>
  <div class="middle-section">
    <a href="#" >
      <img src="img/bespoke_logo.png" width="80px;"/>
    </a>
  </div>
  <div class="user-panel">
    <div class="up-item">
      <div class="shopping-card">
              <i class="flaticon-bag"></i>
              <span>0</span>
            </div>
            <a href="#">Cart</a>
          </div>
        </div>



</nav>

</header>
