<div class="component-starts">

	<div class="main_box">
		<p class="main_h">BACE</p>
		<h3>Legal Information</h3>
	</div>
	<div class="button_group">
		<div class="button_one">
			<button type="button"  class="block" routerLink="/privacy_policy">
				<div class="left">
					<h2 class="pri_h">Privacy Policy</h2>
					<p class="pri_p">View Bace’s strict policies regarding your privacy </p>
				</div>
				<div class="right">
					<i class="fa fa-angle-right">	</i>
				</div>
			</button>
		</div>
		<div class="button_one">
			<button routerLink="/t&c" type="button"  class="block">
				<div class="left">
					<h2 class="pri_h">Terms & Conditions</h2>
					<p class="pri_p">View easy-to-understand terms & conditions between you & Bace </p>
				</div>
				<div class="right">
					<i class="fa fa-angle-right"></i>
				</div>
			</button>
		</div>
		<div class="button_one">
			<button routerLink="/ip" type="button"  class="block">
				<div class="left">
					<h2 class="pri_h">Intellectual Property</h2>
					<p class="pri_p">Browse Bace’s trademarks & online property </p>
				</div>
				<div class="right">
					<i class="fa fa-angle-right"></i>
				</div>
			</button>
		</div>
		<div class="footer_box">
		<ul>
			<li >Bace Australia Pty Ltd</li>
			<li>ABN: 89 612 025 608</li>
			<li style="color: #60A1C4;">legal@bace.co</li>
			<li>171 La Trobe St<br> Melbourne VIC 3000 <br>Australia</li>
		</ul>
	</div>





	</div>
</div>
