<div class="component-starts">
  <div class="back_to_ingredients"> <a routerLink="/login"><i class="fa fa-angle-left"></i> Back to Ingredients</a>
  </div>

  <div class="vit_c_heading">Vitamin C</div>

  <!-- video starts -->
  <div class="container-fluid">
    <iframe src="https://www.youtube.com/embed/iHhcHTlGtRs" frameborder="0" allowfullscreen w></iframe>
  </div>
  <!-- video ends -->

  <!--main_benfits starts  -->
  <div class="main_benfits">
    <div class="main_benfits_head mb-20 mt-20"> Main Benefits</div>

    <div class=" find_skincare">
      <div class="card">
        <img src="assets/img/strength.png" class="card-img-top" alt="...">
        <span>Strength</span>
      </div>
      <div class="card">
        <img src="assets/img/antioxidant.png" class="card-img-top" alt="...">
        <span>Antioxidants</span>
      </div>
      <div class="card">
        <img src="assets//img/brightening.png" class="card-img-top" alt="...">
        <span>Brightening</span>
      </div>
    </div>
    <!--main_benfits ends  -->

    <div class="jumbotron clear new_new_thing">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h">Ingredient HTML Container</h2>
      </div>
    </div>

    <div class="space"></div>

    <div class="">
      <span>Irritation Potential</span><br>
    </div>
  </div>
  <div class="container">

    <div class='row'>

      <div class="card " style="width: 33%;">
        <img class="card-img" src="assets/img/allantoin_ing.png">
        <div class="card-body">
          <p>Allantoin</p>

        </div>
      </div>
      <div class="card" style="width: 33%;">
        <img class="card-img" src="assets/img/allantoin_ing.png">
        <div class="card-body">
          <p>Allantoin</p>

        </div>
      </div>
      <div class="card" style="width: 33%;">
        <img class="card-img" src="assets/img/allantoin_ing.png">
        <div class="card-body">
          <p>Allantoin</p>

        </div>
      </div>
      <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
      <a data-slide="next" href="#media" class="right carousel-control">›</a>

    </div>
  </div>
</div>