<div class="component-starts">
  <div class="back_to_ingredients"> <a routerLink="/login"><i class="fa fa-angle-left"></i> Back to Ingredients</a>
  </div>

  <div class="vit_c_heading">Vitamin C</div>

  <!-- video starts -->
  <div class="container-fluid">
    <iframe src="https://www.youtube.com/embed/iHhcHTlGtRs" frameborder="0" allowfullscreen w></iframe>
  </div>
  <!-- video ends -->

  <!--main_benfits starts  -->
  <div class="main_benfits">
    <div class="main_benfits_head mb-20 mt-20"> Main Benefits</div>

    <div class=" find_skincare">
      <div class="card">
        <img src="assets/img/strength.png" class="card-img-top" alt="...">
        <span>Strength</span>
      </div>
      <div class="card">
        <img src="assets/img/antioxidant.png" class="card-img-top" alt="...">
        <span>Antioxidants</span>
      </div>
      <div class="card">
        <img src="assets//img/brightening.png" class="card-img-top" alt="...">
        <span>Brightening</span>
      </div>
    </div>
  </div>
  <!--main_benfits ends  -->

  <div class="jumbotron clear new_new_thing">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h">Ingredient HTML Container</h2>
    </div>
  </div>

  <div class="space"></div>

  <!-- irritation slider starts -->
  <div class="sliderSection">
    <div class="section_title_ing_item irritation_heading">Irritation Potential</div><br>
    <!-- <toggle-button (changed)="checked=$event"></toggle-button> -->
    <mat-slider min="0" max="10" step="1" [value]="irritationVal" disabled></mat-slider>
    <div class="sliderLow">Low</div>
    <div class="sliderHigh">High</div>

    <div class="bottom_first_slider">May cause minor irritation for those with sensitive skin. Consider trying at a low
      concentration.</div>
  </div>
  <!-- irritation slider ends -->

  <!-- Oiliness slider starts -->
  <div class="sliderSection mt-20 mb-20">
    <div class="section_title_ing_item oiliness_heading">Oiliness</div><br>
    <!-- <toggle-button (changed)="checked=$event"></toggle-button> -->
    <mat-slider min="0" max="10" step="1" [value]="oilinessVal" disabled></mat-slider>
    <div class="sliderLow">Low</div>
    <div class="sliderHigh">High</div>

    <img class="white_drop_ing_item" src="../../assets/img/drop_white.png" />
    <img class="grey_drop_ing_item" src="../../assets/img/faceprint-pdrop.png" />

    <div class="bottom_first_slider">Water-soluble. Unlikely to congest pores or stimulate sebum production.</div>
  </div>
  <!-- Oiliness slider ends -->


  <div class="container mt-20 complementary_section">
    <div class="section_title_ing_item mb-20">Complementary Ingredients</div>

    <div class='row mt-20'>

      <a ><i class="fa fa-angle-left"></i></a>

      <div class="card allantoin_card">
        <img class="card-img" src="assets/img/allantoin_ing.png">
        <div class="card-body">
          <p>Allantoin</p>
        </div>
      </div>
      <div class="card allantoin_card">
        <img class="card-img" src="assets/img/allantoin_ing.png">
        <div class="card-body">
          <p>Allantoin</p>

        </div>
      </div>
      <div class="card allantoin_card">
        <img class="card-img" src="assets/img/allantoin_ing.png">
        <div class="card-body">
          <p>Allantoin</p>

        </div>
      </div>

      <a><i class="fa fa-angle-right"></i></a>

    </div>
  </div>

  <div class="INCI_section">
    <div class="section_title_ing_item">INCI</div><br>
    <p>Acsorbyl Tetraisopalmitate (Vitamin C)</p>
  </div>

  <!-- Sources starts -->
  <div class="sources_section mb-20 ">
    <img src="assets/img/sources-ingredient-item.png" />
    <span>Sources</span> <i class="fa fa-angle-right"></i>
  </div>
  <!-- Sources ends -->

  <div class="jumbotron clear new_new_thing">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h">Relevant Post Container</h2>
    </div>
  </div>
</div>