<div class="component-starts" >
    <div class="back_to_cart"> <a routerLink="/cart_checkout"><i class="fa fa-angle-left"></i> Back to Cart</a></div>

    <div class="cart_login_heading">Login</div>

    <div class="cart_login_body">
      <div class="cart_login_body_info">Welcome back, [Name]!</div><br>


      <div class="cart_login_body_input">
        <input type=text class="form-control" placeholder="Enter e-mail address"/>
        <input type=text class="form-control" placeholder="Enter Password"/>
        <i routerLink="/shipping_address" class="fa fa-angle-right"></i>
      </div>

      <div><a routerLink="/login">I forgot my password</a></div>

    </div>
</div>
