<div class="component-starts">
  <section class="cart-detail-section">
    <div class="cart_heading"> Cart </div>

    <button class="btn btn-secondary bach_button_cart_account">Bach Account</button>

    <div class=" image_cart_item">
        <img src="assets/img/8e914a4259d58d5225196e760702.png" alt="">
    </div>

    <div class="cart_details_item">
      <div class="cart-table-warp">
        <table>
          <tbody>
            <tr>
              <td class="product-col">
                <div class="pc-title">
                  <span>5% Hyaluronic Acid +3% Acetyl Glucosmaine</span><br>
                  <span class="cart_info">Serum</span><br>
                  <img src="assets/img/bespoke_logo.png" />
                  <span class="grey_col">Created by you</span><br>

                  <span class="grey_col">3% Acetyl Glucosamine</span><br>
                  <span class="grey_col">5% Hyaluronic Acids</span><br>
                  <span class="grey_col">3% Soy Amino Acids</span><br>
                  <span class="grey_col">3% Phospholipids</span><br>
                  <span class="grey_col">5% Glycoprotein</span><br>
                  <span class="grey_col">3% Ceramides</span><br>
                  <span class="grey_col">4% Panthenol</span><br>
                  <span class="grey_col">2% Green Tea</span><br>
                  <span class="grey_col">30 ml Airless Pump</span><br>
                  <a class="hide_link">Hide</a>
                </div>
              </td>
              <td class="total-col-cart"><span>$45.90</span></td>
            </tr>
            <!-- <tr><td>3% Acetyl Glucosamine</td></tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </section>

</div>