
.cart-section{
  padding:20px;
}

.left{
  float:left;
}
.right{
  float:right;
}

.hide_link{
    font-size: 25px;
    color:#95D9F2!important;
}

.fa-plus, .fa-minus{
  color:#fff;
}

.cart_info{
  font-size: 17px;
}

.show_details{
  color: #6495ed!important;
}

.input-group{width:120px;}

.send_weeks{
  padding: 5px; font-size:18px;
}

.card-right .table th, .card-right .table td {
    padding: 0.5rem;
}

table td{
  padding-top: 0!important;
}

table th{
 padding-bottom: 0!important;
}

.card-right .subtotal_bottom{
  font-size: 30px;
  font-weight: 600;
}

.card-right td{
  font-size: 18px;
}
/*
@media only screen and (min-width:500px){
  .sub_box{ margin-top: 50px; }

}

@media only screen and (min-width:614px){
  .sub_box{margin-left: 30%;}
} */

/* @media only screen and (max-width:500px){
  .sub_box{  margin-top: 30px; }
  .btn{ padding: 0.1rem 0.4rem; }
  .input-group{width:90px;}
  .send_weeks{ padding: 5px; font-size:14px; }
  .anytime { font-size: 10px; }
  .card-right .site-btn , .card-right .site-btnn{padding:20px 0;}
  .card-right td { font-size: 12px;}
  .card-right .subtotal_bottom{  font-size: 20px;  font-weight: 500;}

  .cart_heading { left: 10px; top:0; font-size: 32px;}


  .cart-section{padding:0}
  .table{margin-top:20px;}
  .bach_button_cart_account{font-size:15.3px;}
  .image_cart_item{width:20%;}
  .item_desc{width:70%;}
  .item_price{width:10%;}
} */
/*
@media only screen and (max-width:400px){
  .card-right .site-btn , .card-right .site-btnn{ width: 98% }
} */

.bach-account-btn{
  float:right;
  border-radius: 20px;
  background-color: #bfbfbf;
  color: #fff;
  border:none;
  outline: none;
  margin-top: 13px;
}
@media only screen and (max-width : 320px) {
  .fa-minus{background-color: #eee;
  border-radius: 50%;font-size: 8px;padding: 4px;}

  .fa-plus{background-color: #eee;
  border-radius: 50%;font-size: 8px;padding: 4px;}
  .image_cart_item{width:20%;}
  .item_desc{width:70%;}
  .item_price{width:10%; font-size: 11px;}
  .pc-title{font-size:14px;}
  .pc-type{font-size:11px;}
  .show_details{font-size:9px;}
  .bespoke_logo{width: 25px;}
  .item_desc{padding-top: 40px;}
  .item_price{padding-top: 45px;}
  .cancel_anytime{
    font-size:7px;
  }
  .every_weeks{
    font-size:9.54px;
  }
  .subscribe-box{

    width: 70%;
  }
}

 @media only screen and (min-width : 330px) and (max-width : 660px) {
   .image_cart_item{width:20%;}
   .item_desc{width:70%;}
   .item_price{width:10%; font-size: 11px;}
   .pc-title{font-size:14px;}
   .pc-type{font-size:11px;}
   .show_details{font-size:9px;}
   .bespoke_logo{width: 25px;}
   .item_desc{padding-top: 40px;}
   .item_price{padding-top: 45px;}
   .cancel_anytime{
     font-size:7px;
   }
   .every_weeks{
     font-size:9.54px;
   }

   .fa-minus{background-color: #eee;
   border-radius: 50%;font-size: 10px;padding: 6px;}

   .fa-plus{background-color: #eee;
   border-radius: 50%;font-size: 10px;padding: 6px;}

   .subscribe-box{

     width: 70%;
   }
 }

 @media only screen and (min-width : 661px) and (max-width:759px){

   .image_cart_item{width:20%;}
   .item_desc{width:70%;}
   .item_price{width:10%; font-size: 11px;}
   .pc-title{font-size:14px;}
   .pc-type{font-size:11px;}
   .show_details{font-size:9px;}
   .bespoke_logo{width: 25px!important;}
   .item_desc{padding-top: 40px;}
   .item_price{padding-top: 45px;}
   .cancel_anytime{
     font-size:7px;
   }
   .every_weeks{
     font-size:9.54px;
   }

   .fa-minus{
   border-radius: 50%;font-size: 10px;padding: 6px;}

   .fa-plus{
   border-radius: 50%;font-size: 10px;padding: 6px;}
   .subscribe-box{
     margin-left: 10px;
     width:70%;
   }

 }

 @media only screen and (min-width : 760px) and (max-width : 1024px) {
   .image_cart_item{width:20%;}
   .item_desc{width:70%;}
   .item_price{width:10%;}
   .pc-title{font-size:28px;}
   .pc-type{font-size:22px;}
   .show_details{font-size:12px;}
   .bespoke_logo {width: 10%!important;}
   .item_desc{padding-top: 40px;}
   .item_price{margin-top: 45px;}
   .cancel_anytime{
     font-size:10px;
   }



   .fa-minus{background-color: #eee;
   border-radius: 50%;font-size: 15px;padding: 6px;}

   .fa-plus{background-color: #eee;
   border-radius: 50%;font-size: 15px;padding: 6px;}

   .every_weeks{
     font-size:14px;
   }
   .subscribe-box{

     width: 70%;
     padding:10px;
   }
 }

 @media only screen and (min-width : 1025px) and (max-width : 1920px) {
   .image_cart_item{width:20%;}
   .item_desc{width:70%;}
   .item_price{width:10%;}
   .pc-title{font-size:28px;}
   .pc-type{font-size:22px;}
   .show_details{font-size:11px;}
   .bespoke_logo {width: 10%!important;}
   .item_desc{padding-top: 40px;}
   .item_price{padding-top: 40px;}
   .cancel_anytime{
     font-size:10px;
   }

   .every_weeks{
     font-size:14px;
   }

   .fa-minus{background-color: #eee;
   border-radius: 50%;font-size: 15px;padding: 6px;}

   .fa-plus{background-color: #eee;
   border-radius: 50%;font-size: 15px;padding: 6px;}
   .subscribe-box{

     width: 70%;
     padding:10px;
   }
 }
 .subscribe-box{
   background-color: #fff;
   border-radius: 12px;
   padding:10px;
 }


.subscribe_box_content{
  margin-left:10px;
  font-size: 13px;
  font-weight: bold;
}

.subscribe_check{
  background-color: #eee;
}

.myproduct{
  padding:15px;
  margin-right:15px;
  margin-left: 15px;
}

.qty_box{
  font-size:7px;
  width:20%;
  margin-left: 10px;

}

.cart-heading{
  font-size: 32px;
  color:#000;
  margin-top: 8px;
}

.created_by{
  font-size: 11px;
}

.bespoke_logo{width: 25px!important;}
.checkout_btn{width:48%; float:right;border-radius: 15px;font-size: 21px; background-color: #60A1C4; height: 40px;border:none;outline:none;}
.voucher_btn{width: 48%;float:left; border-radius: 15px;font-size: 14px; background-color: #989898; height: 40px;border:none;outline:none;}
.shipping-text{font-size:9px;}
.subtotal_bottom{font-size: 14px;}
.ship_td{color: #60A1C4;}
.prod-detail{font-size: 11px;}
.container-fluid{position:fixed;    bottom: 0px;
width: 100%;}
/* .fa-minus{
border-radius: 50%;background-color: #eee;padding:7px;}

.fa-plus{
border-radius: 50%;background-color: #eee;padding:7px;} */
