
.cart-section{
  padding:20px;
}

.hide_link{
    font-size: 25px;
    color:#95D9F2!important;
}

.fa-plus, .fa-minus{
  color:#fff;
}

.cart_info{
  font-size: 17px;
}

.show_details{
  color: #6495ed!important;
}

.input-group{width:120px;}

.send_weeks{
  padding: 5px; font-size:18px;
}

.card-right .table th, .card-right .table td {
    padding: 0.5rem;
}

@media only screen and (min-width:500px){
  .sub_box{ margin-top: 50px; }

}

@media only screen and (min-width:614px){
  .sub_box{margin-left: 30%;}
}

@media only screen and (max-width:500px){
  .sub_box{  margin-top: 30px; }
  .btn{ padding: 0.1rem 0.4rem; }
  .input-group{width:90px;}
  .send_weeks{ padding: 5px; font-size:14px; }
  .anytime { font-size: 10px; }
  .card-right .site-btn , .card-right .site-btnn{padding:20px 0;}
}

@media only screen and (max-width:400px){
  .card-right .site-btn , .card-right .site-btnn{ width: 98% }
}
