<header class="header-section">

  <nav class="navbar" style="width:100%; position: fixed!important; height: 100px;">
    <a routerLink="/home" class="navbar-brand site-logo"  style="width:33.3%">
      <!--<img src="img/logo.png" alt="logo" width="105px;">-->
      <h3>BACE</h3>
    </a>
    <div class="middle-section" style="width:33.3%" >
      <a (clickOutside)="onClickedOutside_middle()" (click)=show_hide_features()>
        <img src="../assets/img/bespoke_logo.png" width="80px;" />
      </a>
    </div>
    <div routerLink="/cart" class="user-panel" style="width:33.3%">
      <!-- <i class="fa fa-shopping-cart"></i> -->
      <div class="up-item">
        <div class="shopping-card">
          <i class="flaticon-bag"></i>
          <span>0</span>
        </div>
        <a routerLink="/cart">Cart</a>
        <!-- <img  src="assets/img/cart.png" /><span>0</span> -->
      </div>
    </div>
  </nav>

<!-- feature section -->
  <section [class.show]='show'  class="features-section">
    <div class="container-fluid">
      <div class="row">
        <div class="p-0 feature">
          <div (click)="navigate_to_feature('shop_skincare')" class="feature-inner">
            <!-- <div class="feature-icon-icon"> -->
              <img class="feature-image" src="../assets/img/shop_skincare_.png" alt="#">
            <!-- </div> -->
            <h3 class="menu-bar">Shop Skincare</h3>
          </div>
        </div>
        <div class=" p-0 feature">
          <div (click)="navigate_to_feature('custom_skincare')" class="feature-inner">
            <!--<div class="feature-icon">-->
            <img class="feature-image" src="../assets/img/custom_skincare.png" alt="#">
            <!-- <div class="feature-image custom_skincare"></div> -->
          <!--  </div>-->
            <h3 class="menu-bar">Custom Skincare</h3>
          </div>
        </div>
        <div class=" p-0 feature">
          <div (click)="navigate_to_feature('faceprint')" class="feature-inner">
            <!--<div class="feature-icon">-->
            <img class="feature-image" src="../assets/img/faceprints.png" alt="#">
          <!--  </div>-->
            <h3 class="menu-bar">Faceprint</h3>
          </div>
        </div>
        <div class=" p-0 feature">
          <div (click)="navigate_to_feature('ingredients')" class="feature-inner">
            <!--<div class="feature-icon">-->
              <img class="feature-image" src="../assets/img/ingredients.png" alt="#">
          <!--  </div>-->
            <h3 class="menu-bar">Ingredients</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- feature section -->
</header>

<router-outlet></router-outlet>

<!-- Footer section -->
<section *ngIf="footer" class="footer-section clear mt-20">
  <div class="container">
    <!-- <div class="footer-logo text-center ">
      <a href="index.html">


      </a>
    </div> -->
    <div class="row">
      <div class="col-sm-12 col-xl-2 " style="text-align:center;">
        <button type="button" class="btn btn-outline-primary button-footer main-a" id="my" ><i class="fa fa-comment-o">&nbsp;Live chat</i></button>
        </div>
      <div class="responsibility-mention-button">
        <button type="button" class="btn btn-outline-primary button-footer main-b">Bace's Responsibility</button>

        <button type="button" class="btn btn-outline-success button-footer main-c">Mentions</button>
        </div>
      <div class="support-bace-legal-button">

        <button type="button" class="btn btn-outline-danger button-footer main-d">Support</button>

        <button type="button" class="btn btn-outline-light button-footer main-d">Bace Info</button>

        <button type="button" class="btn btn-outline-primary button-footer main-d">Legal</button>

    </div>
    </div>
  </div>
  <div class="social-links-warp">



<h4 class="text-black text-center mt-5" ><a href="#" style="color: #3F4D60!important;font-size: 20px!important;"> Made in Australia &copy; 2019 Bace Australia Pty Ltd  </a></h4>


    </div>


</section>
