<div class="component-starts">

  <!-- oily starts -->
  <div class="main oily"  [class.show]='oily_Show'>
    <div class="main-con">
      <div class="center_face">
        <img class="face-first" src="assets\img\Asset 26@4x.png">
      </div>
      <div class="heading-face">
        <p class="h_face">How <b>oily</b> is your skin?</p>
      </div>
    </div>

    <div class="main-con ">
      <div class="face">
        <img class="face_img" [src]="selected_cat.img">
      </div>
      <div class="progressbar">
        <h4 class="progressbar_h">{{Oily_title}}</h4>
      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <input (change)="slider_change_val('oily')" [(ngModel)]=sliderVal type="range" min="0" max="4" class="slider"
            id="myRange">
          <i (click)="changeView('oily')" class="	fa fa-angle-right"></i>
          <p class="footer-face-p">Not to be treated as medical diagnoses<br>
            or advice.</p>
          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>
  <!-- oily ends -->

  <!-- sensitive starts -->
  <div class="main sensitive"  [class.show]='sensitive_Show'>
    <div class="main-con">
      <div class="center_face">
        <img class="face-first" src="assets\img\Asset 26@4x.png">
      </div>
      <div class="heading-face">
        <p class="h_face">How <b>sensitive</b> is your skin?</p>
      </div>
    </div>

    <div class="main-con ">
      <div class="face">
        <img class="face_img" [src]="selected_cat.img">
      </div>
      <div class="progressbar">
        <h4 class="progressbar_h">{{sensitive_title}}</h4>
      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <input (change)="slider_change_val('sensitive')" [(ngModel)]=sliderVal type="range" min="0" max="3" class="slider"
            id="myRange">
          <i (click)="changeView('sensitive')" class="	fa fa-angle-right"></i>
          <p class="footer-face-p">Not to be treated as medical diagnoses<br>
            or advice.</p>
          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>
  <!-- sensitive ends -->

  <!-- lined starts -->
  <div class="main lined" [class.show]='lined_Show'>
    <div class="main-con">
      <div class="center_face">
        <img class="face-first" src="assets\img\Asset 26@4x.png">
      </div>
      <div class="heading-face">
        <p class="h_face">How <b>lined</b> is your skin?</p>
      </div>
    </div>

    <div class="main-con ">
      <div class="face">
        <img class="face_img" [src]="selected_cat.img">
      </div>
      <div class="progressbar">
        <h4 class="progressbar_h">{{lined_title}}</h4>
      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <input (change)="slider_change_val('lined')" [(ngModel)]=sliderVal type="range" min="0" max="2" class="slider"
            id="myRange">
          <i (click)="changeView('lined')"  class="	fa fa-angle-right"></i>
          <p class="footer-face-p">Not to be treated as medical diagnoses<br>
            or advice.</p>
          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>
  <!-- lined ends -->

  <!-- pigmented starts -->
  <div class="main pigmented" [class.show]='pigmented_Show'>
    <div class="main-con">
      <div class="center_face">
        <img class="face-first" src="assets\img\Asset 26@4x.png">
      </div>
      <div class="heading-face">
        <p class="h_face">How <b>pigmented</b> is your skin?</p>
      </div>
    </div>

    <div class="main-con ">
      <div class="face">
        <img class="face_img" [src]="selected_cat.img">
      </div>
      <div class="progressbar">
        <h4 class="progressbar_h">{{pigmented_title}}</h4>
      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <input (change)="slider_change_val('pigmented')" [(ngModel)]=sliderVal type="range" min="0" max="2" class="slider"
            id="myRange">
          <i (click)="changeView('pigmented')"  class="	fa fa-angle-right"></i>
          <i  class="	fa fa-angle-right"></i>
          <p class="footer-face-p">Not to be treated as medical diagnoses<br>
            or advice.</p>
          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>
  <!-- pigmented ends -->


</div>
