<div class="component-starts">
  <div class="back_to_bespoke"> <a routerLink="/bespoke"><i class="fa fa-angle-left"></i> Back to Bespoke</a></div>

  <div class="product_box">
    <img class="pro_bottle" src="assets/img/sample_bottle.png" /><br>
    <div class="prduct_div_info">3% Ferulic Acid + 3% Resveratrol</div>
    <div class="prduct_div_title"> 30 ml Serum</div>
    <div class="prduct_div_price">$34.00</div>

    <button class="mt-20 btn btn-info add_to_cart_product">Add to Cart</button>
    <div class="customize_product_btn_box">
      <img src="assets/img/custom_skincare_white.png" />
      Customise
      <!-- <button class="btn btn-dark">Customize</button> -->
      <i class="fa fa-angle-right"></i>
    </div>

    <div class="created_by_bruce">
      <img src="assets/img/curated_by_Bruce.png" /><span>Curated by Bruce</span>
    </div>

    <div class="mb-20 bruce_gurantee">
      All Bace products have a 30-day Money-back Guarantee. <a>Read more <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <div class="space"></div>
  <section class="new-thing" style="border-bottom: 3px solid #FF9D47;">
    <i class="fa fa-volume-up"></i>
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <!-- <h2 class="new-thing-h"> New Thing Container</h2> -->
        <i class="fa fa-play-circle"></i>
      </div>
    </div>
  </section>

  <section class="new-thing">
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h"> Curated by Bace product HTML container </h2>
      </div>
    </div>
  </section>


  <!--main_benfits starts  -->
  <div class="main_benfits">
    <div class="main_benfits_head mb-20 mt-20"> Main Benefits</div>

    <div class=" find_skincare">
      <div class="card">
        <img src="assets/img/strength.png" class="card-img-top" alt="...">
        <span>Strength</span>
      </div>
      <div class="card">
        <img src="assets/img/antioxidant.png" class="card-img-top" alt="...">
        <span>Antioxidants</span>
      </div>
      <div class="card">
        <img src="assets//img/brightening.png" class="card-img-top" alt="...">
        <span>Brightening</span>
      </div>
    </div>
    <!--
    <div class="find_skincare ">
        <i class="fa fa-angle-left"></i>

        <div class="card" >
          <img src="assets/img/lines.png" class="card-img-top" alt="...">
          <span>Lines</span>
        </div>
        <div class="card" >
          <img src="assets/img/strength.png" class="card-img-top" alt="...">
          <span>Strength</span>
        </div>
        <div class="card" >
          <img src="assets/img/antioxidant.png" class="card-img-top" alt="...">
          <span>Antioxidants</span>
        </div>
        <div class="card" >
          <img src="assets//img/brightening.png" class="card-img-top" alt="...">
          <span>Brightening</span>
         </div>
        <i class="fa fa-angle-right"></i>
      </div> -->
    <!--main_benfits ends  -->



    <!-- review-ingredient-how to use box ends -->
    <div class="review_ingredient_htu_box">
      <div class="review_ingredient_htu_items">
        <span>Reviews</span>
        <img class="star_image" src="assets/img/star.png" />
        <span class="reviews_icons">
          <i class="fa fa-angle-right"></i>
          <!-- <i class="fa fa-star-o"></i>
          <i class="fa fa-star-half-empty"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> -->

        </span>
      </div>
    </div>

    <div class="review_ingredient_htu_box">
      <div class="review_ingredient_htu_items">
        <span>Ingredients</span>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>

    <div class="review_ingredient_htu_box">
      <div class="review_ingredient_htu_items">
        <span>How to Use</span>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
    <!-- review-ingredient-how to use box ends -->

    <!-- buyers_also_liked starts -->
    <div class="buyers_also_liked">
      <span class="buyers_also_liked_head">Buyers Also Liked</span>

      <div>
        <i style="float:left;" class="fa fa-angle-left"></i>

        <div class="creations_items_div">
          <i class="fa fa-plus"></i>
          <img src="assets/img/bottle_cart.png" alt="image" />
          <div class="prduct_div_info" style="padding:10px;">5% Hyaluronic Acid +3% Acetyl Glucosmaine</div>
          <div class="item_div_title">Serum</div>
          <div class="prduct_div_price">$399.99</div>
          <img class="green_tick" src="assets/img/curated_by_Bruce.png" />
        </div>

        <div class="creations_items_div mb-20">
          <i class="fa fa-plus"></i>
          <img src="assets/img/bottle_cart.png" alt="image" />
          <div class="prduct_div_info" style="padding:10px;">5% Hyaluronic Acid +3% Acetyl Glucosmaine</div>
          <div class="item_div_title">Serum</div>
          <div class="prduct_div_price">$399.99</div>
        </div>

        <i style="float:right; color:#007bff;" class="fa fa-angle-right"></i>
      </div>
    </div>
    <!-- buyers_also_liked ends -->

    <!-- green section -->
    <div class="bace_responsibility_green clear mt-20">
      <div class="mb-20">
        <img src="assets/img/created_by_bruce_white.png" alt="image" />
        <span>No animal testing, fragrance, alcohol, silicone, nuts, volatile plant oils & known irritants</span>
      </div>

      <div class="mb-20">
        <img src="assets/img/created_by_bruce_white.png" alt="image" />
        <span>Contains Australian Certified Organic plant extracts</span>
      </div>

      <div class="mb-20">
        <img src="assets/img/created_by_bruce_white.png" alt="image" />
        <span>Highly-recyclable air-tight glass packaging, preventing early product expiry</span>
      </div>

      <div style="text-align:center;"><button class="btn btn-success bace_Responsibilty">Bace's Responsibilty</button>
      </div>
    </div>
    <!--  green section  -->

    <!-- add to cart at bottom starts -->
    <div class="add_to_cart_bottom mt-20">
      <div class="add_to_cart_bottom_left">
        <img src="assets/img/product_detail_image.png" alt="image" />
      </div>

      <div class="add_to_cart_bottom_right">
        <div class="prduct_div_info">3% Hyaluronic Acid +3% Acetyl Glucosmaine</div>
        <div class="item_div_title">30 ml Serum</div>
        <div class="prduct_div_price">$34.99</div>
        <div style="text-align:center;"><button class="mt-20 btn btn-info add_to_cart_product">Add to Cart</button>
        </div>
      </div>
    </div>
    <!-- add to cart at bottom ends-->

    <div class="jumbotron clear new_new_thing">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h">Relevant Post Container</h2>
        <h2 class="new-thing-h">or new thing container e.g. social</h2>
      </div>
    </div>
    <!-- <div class="jumbotron clear new_new_thing">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h">New Thing Container</h2>
      </div>
    </div> -->

  </div>
