<div class="component-starts">
    <div class="back_to_bespoke"> <a routerLink="/bespoke" ><i class="fa fa-angle-left"></i> Back to Bespoke</a></div>
  <div class="product_box">
    <img src="assets/img/sample_bottle.png" /><br>


    <div class="prduct_div_info" >3% Ferulic Acid + 3% Resveratrol</div>
    <div class="prduct_div_title"> 30 ml Serum</div>
    <div class="prduct_div_price">$34.00</div>

  <button class="mt-20 btn btn-info add_to_cart_product">Add to Cart</button>
  <div class="customize_product_btn_box">
      <img src="assets/img/custom_skincare_white.png" />
      Customise
      <!-- <button class="btn btn-dark">Customize</button> -->
      <i class="fa fa-angle-right"></i>
  </div>

  <div class="created_by_bruce" ><img src="assets/img/curated_by_Bruce.png" /><span>Curated by Bruce</span></div>

  <div class="bruce_gurantee">All Bace products have a 30-day Money-back Guarantee. <a>Read more</a> </div>

  </div>
</div>
