.component-starts{
    background: #F9F9F9;
}

.product_box{
    text-align: center;
}

.product_box img{
    width:25%;
    margin: 40px;
}

.back_to_bespoke{
    color: #69A2C6;
    font-size: 20px;
    padding: 10px 20px;
}

.back_to_bespoke i{
    margin-right: 10px;
    font-size: 26px;
    top: 2px;
    position: relative;
}

.add_to_cart_product_box{
    margin-top: 20px;
}
.add_to_cart_product{
    width: 60%;
    border-radius: 22px;
    font-size: 30px;
    background: #60A1C4;
}

.customize_product_btn_box{
    background-color: #BABABA;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border-radius: 22px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

.customize_product_btn_box img{
    width: 40px;
    float: left;
    margin: 0;
    position: relative;
    top: 4px;
    left: 10px;
}

/* .customize_product_btn_box button{
    font-size: 30px;
    background-color: #BABABA;
    border: none;
    outline:none;
} */

.customize_product_btn_box i{
    float: right;
    font-size: 32px;
    position: relative;
    top: 5px;
    right: 10px;
}

.created_by_bruce{
    color: #84D1BC;
    font-size: 28px;
    margin: 30px auto;
    width: 60%;
}

.created_by_bruce img{
    width: 8%;
    margin: 0;
    margin-right: 15px;
}

.created_by_bruce span{
    top: 2px;
    position: relative;
}

.bruce_gurantee{
    font-size: 26px;
    width: 70%;
    margin: auto;
    color:  #60A1C5;
}

.bruce_gurantee a{
  font-weight: 600;
}

.new-thing .container{
  text-align: center;
}

.new-thing i{
  color: #BABABA;
}

.new-thing i.fa-volume-up{
  position: relative;
  left: 90%;
  top:10px;
  font-size: 36px;
}

.new-thing i.fa-play-circle{
  position: relative;
  top: 50px;
  font-size: 70px;
}

.main_benfits{
  text-align: center;
}

.main_benfits .main_benfits_head{
  font-size: 16px;

}




.find_skincare div img {
  width: auto;
  height: auto;
}

.find_skincare div{
  background: inherit;
  width: 22%;
}

.review_ingredient_htu_box{
  font-size: 35px;
  font-weight: 500;
  height: 150px;
  padding: 20px;
  background: #EAEAEA;
  color: #eaeaea;
  margin-top: 20px;
  text-align: left;
}

.reviews_show_button{
  background: #a8a8a8;
  color: #fff;
  border-radius: 32px;
  outline: none;
  border: none;
  margin: auto;
  margin-bottom: 22px;
  width: 45%;
}

.reviews_div .reviews_title_details{
  margin-top: 30px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 20px;
}

 .reviews_div.last-item div.reviews_title_details {

  border-bottom: none;
  padding-bottom: 5px;
}

.reviews_title_info{
  color: #777;
}

.review_ingredient_htu_box_tit{
  color: #000;
}

.review_ingredient_htu_box  i{
  float: right;
  color: #ffc107;
  margin-left: 10px;
  font-weight: 600;
  font-size: 50px;
}

.review_ingredient_htu_box i.fa-angle-right, .review_ingredient_htu_box i.fa-angle-down{
  color: #515151;
  margin-right: 10px;
}

.reviews_div{
  text-align: left;
  padding: 20px;
  background-color: #EAEAEA;
}

.star_image{
  margin-left: 38%;
  width: 210px;
}

.block-drop{
  background-color: #EAEAEA;
}

.write_review_review textarea{
  text-indent: 10px;
}

.write_review_review {
  position: relative;
}

.write_review_review i{
  position: absolute;
  top: 29%;
  font-size: 36px;
  right: 5%;
  color: #60A1C4;
}

.reviews_button{
  border-radius: 32px;
  width: 45%;
  margin: auto;
  margin-bottom: 20px;
}
.star_rew{
  width: 70%;
  margin-bottom: 25px;
}
.reviews_star_image { width: 210px;}

.write_review {
  padding: 50px 60px 70px;
  background: #f4f4f4;
}
textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}
.write_review p{
  font-weight: 600;
  font-size: 14px;
}

.write_review_email input{
  display: inline-block;
  width: 90%;
  border: none;
  outline: none;
}

.write_review_email i{
  position: relative;
  right: 7%;
  display: inline-block;
  font-size: 30px;
  color: #000;
  top: 3px;
}

.select_more_ingre_PD{
  color: #565656;
  font-size: 18px;
}

.review_ingredient_htu_items{
  position: relative;
  top: 28px;
}

.buyers_also_liked{
  font-size: 35px;
  text-align: center;
  padding-top: 20px;

}

.buyers_also_liked i{
  margin-left: 1%;
  margin-right: 1%;
  width: 2%;
  font-size: 34px;
  font-weight: 700;
  top: 330px;
  position: relative;
}

.creations_items_div{
  width: 42%;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  background: #EFEFEF;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
  margin-top: 20px;
  padding: 12px;
  text-align: center;
  position: relative;
}

.creations_items_div img{
    height: 400px;
    margin-bottom: 22px;
}

.creations_items_div img.green_tick{
  margin: 0;
  height: 35px;
  position: absolute;
  color: #fff;
  top: 92%;
  width: auto;
  left: 20px;
}

.buyers_also_liked .buyers_also_liked_head{

}

.buyers_also_liked .creations_items_div .fa-plus{
  position: absolute;
  color: #fff;
  font-size: 45px;
  left: 80%;
  margin: 0;
  width: auto;
  top: 20px;
}

.bace_responsibility_green{
  background-color: #84D1BC;
  font-size: 28px;
  color: #fff;
  padding: 30px 50px;
text-align: left;
}

.bace_responsibility_green img{
  width: 60px;
  margin-right: 20px;
  float: left;
  position: relative;
  top: 15px;
}

.bace_Responsibilty{
  border-radius: 30px;
  font-size: 30px;
  background: #66B59C;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  width: 50%;
}

.add_to_cart_bottom{
    height: 450px;
}

.add_to_cart_bottom .add_to_cart_bottom_left{
  display: inline-block;
  width: 40%;
}

.add_to_cart_bottom .add_to_cart_bottom_left img{
  height: 350px
}

.add_to_cart_bottom .add_to_cart_bottom_right{
  text-align: left;
  display: inline-block;
  width: 60%;
  padding: 20px;
  height: 400px;
  font-size: 26px;
}

.add_to_cart_bottom .add_to_cart_bottom_right button{
  width: 90%;
}

.new_new_thing{
  background-color: #EAEAEA!important;
  padding: 200px 50px;
}

.new-thing-h{
  padding:75px 20px;
}


.some-page-wrapper {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

.padding_12_5{
  padding: 0 12.5%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 25%;
}

.blue-column {
  height: auto;
  padding: 6px;
  
}

.card-image{
  height: auto;
  width: auto;
}

.card-text{
  font-size: 9px;
}

.card-body{
  padding:0;
}

.colour_drop_pd_image{
  height: 90px;
  margin-top: 25px;
}

.full_ingre_pd_drop{
  font-size: 10px;
  color: #60a1c4;
  padding: 20px;
}

.some-page-wrapper{padding: 0 20px;}

.card{ border:none;}

.how_to_use_open{
  font-size: 14px;
  padding: 20px;
  margin: auto;
  text-align: left;
  padding-bottom: 40px;
} 
.write_review_email .fa-angle-right{
  color: #60A1C4;
}
.close_icon{
  height: 30px;
  width: 30px;
  float: right;
  margin-top: 10px;
}
@media only screen and (max-width : 329px) {

  .back_to_bespoke{ font-size: 13px;}
  .back_to_bespoke i{font-size: 20px;}
  .product_box img { width: 22%; height: 200px;}
  .prduct_div_info {font-size: 14px;}
  .prduct_div_title {  font-size: 16px;}
  .prduct_div_price { font-size: 16px;  margin-top: 5px;}
  .add_to_cart_product { width: 80%;  font-size: 20px;}
  .customize_product_btn_box {font-size: 20px;width: 65%; }
  .customize_product_btn_box img {width: 20px; height: 20px}
  .customize_product_btn_box i{ top:0;}
  .created_by_bruce img { width: 20px; height: 20px;}
  .created_by_bruce{ width: 80%; font-size: 14px;}
  .bruce_gurantee {  font-size: 11px;  width: 80%;}
  .new-thing i.fa-volume-up{left: 85%;    font-size: 33px;}
  .new-thing i.fa-play-circle {  font-size: 60px;}
  .new-thing-h{font-size: 14px;}

    div.card span {font-size: 9px;}

   .prduct_div_info{font-size: 11px;}
  .item_div_title, .creations_items_div .prduct_div_price{font-size: 8px;}


    .review_ingredient_htu_box i { margin-left: 5px;font-size: 26px;position: relative;  }
  .buyers_also_liked {font-size: 16px;}
  .creations_items_div img { height: 210px;}
  .buyers_also_liked i{top:198px;}
  .buyers_also_liked .creations_items_div .fa-plus {  font-size: 25px; left: 78%;   top: 10px;}
  .creations_items_div img.green_tick { height: 22px;  left: 10px;}
  .bace_responsibility_green { font-size: 12px; padding: 30px 12px;}
  .bace_Responsibilty {width:70%; font-size: 14px;}
   .bace_responsibility_green img{ width: 30px; top:0;}
   .add_to_cart_bottom .add_to_cart_bottom_left img{ height: 201px;height: 200px; position: relative; }
  .add_to_cart_bottom .add_to_cart_bottom_right {height:auto;}
  .add_to_cart_bottom { height: 280px;}
  .new_new_thing { padding: 80px 50px;}
  .new-thing-h { padding: 55px 20px;}

  .star_image { margin-left: 30%; width: 82px;}
  .reviews_star_image { width: 82px;}

  .review_ingredient_htu_box{ font-size: 16px; }
  .review_ingredient_htu_items{top:40px;}

  .add_to_cart_bottom .add_to_cart_bottom_right button{ font-size: 15px;}

  .colour_drop_pd_image{height: 40px;}
  .colour_drop_pd div{font-size: 12px;}
  .select_more_ingre_PD {font-size: 13px;}
}

@media only screen and (min-width : 330px) and (max-width : 660px) {


  .back_to_bespoke{ font-size: 13px;}
  .back_to_bespoke i{font-size: 20px;}
  .product_box img { width: 22%; height: 215px;}
  .prduct_div_info {font-size: 16px;}
  .prduct_div_title {  font-size: 16px;}
  .prduct_div_price { font-size: 15px;  margin-top: 5px;}
  .add_to_cart_product { width: 80%;  font-size: 20px;}
  .customize_product_btn_box {font-size: 20px;width: 65%; }
  .customize_product_btn_box img {width: 20px; height: 20px}
  .customize_product_btn_box i{ top:0;}
  .created_by_bruce img { width: 20px; height: 20px;}
  .created_by_bruce{ width: 80%; font-size: 18px;}
  .bruce_gurantee {  font-size: 11px;  width: 80%;}
  .new-thing i.fa-volume-up{left: 85%;    font-size: 33px;}
  .new-thing i.fa-play-circle {  font-size: 60px;}
  .new-thing-h{font-size: 14px;}

    div.card span {font-size: 10px;}
 .prduct_div_info{font-size: 11px;}
.item_div_title, .creations_items_div .prduct_div_price{font-size: 8px;}
  .review_ingredient_htu_box { text-align: left;font-size: 16px;}
  .review_ingredient_htu_box i { margin-left: 5px;font-size: 26px;position: relative;  }
  .review_ingredient_htu_items{top:40px;}

  .buyers_also_liked {font-size: 16px;}
  .creations_items_div img { height: 210px;}
  .buyers_also_liked i{top:198px;}
  .buyers_also_liked .creations_items_div .fa-plus {  font-size: 25px; left: 78%;   top: 10px;}
  .creations_items_div img.green_tick { height: 22px;  left: 10px;}

  .bace_responsibility_green img { width: 30px; top: 10px;}
  .bace_responsibility_green { font-size: 14px; padding: 30px 12px;}
  .bace_Responsibilty {width:70%; font-size: 14px;}
  /* .bace_responsibility_green img{ width: 30px; top:0;} */
  .add_to_cart_bottom .add_to_cart_bottom_left img{ height: 201px;}
  .add_to_cart_bottom .add_to_cart_bottom_right {height:auto;}
  .add_to_cart_bottom { height: 280px;}
  .new_new_thing { padding: 80px 50px;}
  .new-thing-h { padding: 55px 20px;}
  .star_image { width: 115px; margin-left: 34%;}
  .reviews_star_image { width: 115px;}
  .add_to_cart_bottom .add_to_cart_bottom_right button{ font-size: 15px;}

  .colour_drop_pd_image{height: 50px;}
  .colour_drop_pd div{font-size: 12px;}
}

@media only screen and (min-width : 661px) and (max-width:759px){}

@media only screen and (min-width : 760px) and (max-width : 1022px) {
  .card-image{ height: auto; width: auto;}
  .card-text { font-size: 12px;}
  .full_ingre_pd_drop {  font-size: 14px;}
  .how_to_use_open { font-size: 20px;}
  .write_review_review i{right: 3%;}
}

@media only screen and (min-width : 1023px) and (max-width : 1920px) {
  .product_box img.pro_bottle { width: 22%; height: 600px;}

  .bace_responsibility_green {  font-size: 32px; padding: 40px 60px;}

  .creations_items_div img.green_tick{ height: 42px; top: 90%;}
  .back_to_bespoke i{ font-size: 44px;}
  .back_to_bespoke { font-size: 30px;}
  .find_skincare div span {  font-size: 24px;}
  .star_image { margin-left: 52%}
  .bace_responsibility_green div.mb-20{margin-bottom:45px!important;}
  /* .bace_responsibility_green img { width: 42px;} */
  .add_to_cart_bottom .add_to_cart_bottom_left img{height: 501px;}
  .how_to_use_open { font-size: 20px;}
  .write_review_review i{right: 3%;}
}
/*
@media only screen and (max-width : 320px) {}

@media only screen and (min-width : 330px) and (max-width : 660px) {}

@media only screen and (min-width : 661px) and (max-width:759px){}

@media only screen and (min-width : 760px) and (max-width : 1024px) {}

@media only screen and (min-width : 1025px) and (max-width : 1920px) {} */



  
