<div class="component-starts" >
    <div class="back_to_cart"> <i class="fa fa-angle-left"></i> Back to Cart</div>  

    <div class="cart_checkout_heading">Checkout</div>

    <div class="cart_checkout_body">
      <div class="cart_checkout_body_info">Please enter your e-mail address to complete checkout.</div><br>

      <div class="cart_checkout_body_input">
        <input type=text class="form-control" placeholder="Enter e-mail address"/>
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
</div>