<div class="component-starts">

  <div class="itmes_box">
    <div class="title_shop"> BACE SKINCARE  </div>

    <div class="item_div_top" *ngFor="let i of items">
      <a routerLink="/prodcuct_details"> <img [src]="i.src" alt="image" /></a>
      <span class="item_div_info" >{{i.info}}</span><br>
      <span class="item_div_title">{{i.title}}</span><br>
    </div>

    <button type="button" class="btn clear show_all">Show All</button>
  </div>

  <div class="space"></div>
  <section class="new-thing">
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h" > New Thing Container</h2>
      </div>
    </div>
  </section>
  <div class="space"></div>

  <div class="title_shop_sections"> Find Skincare by Benefit </div>

  <!-- <div class="col-md-12 find_skincare ">
    <i class="fa fa-angle-left"></i>
    <div class="find_skincare_1">
      <img src=" assets/img/lines.png" />
      <span>Lines</span>
    </div>
    <div class="find_skincare_2">
      <img src=" assets/img/strength.png" />
      <span>Strength</span>
    </div>
    <div class="find_skincare_3">
      <img src=" assets/img/antioxidant.png" />
      <span>Antioxidants</span>
    </div>
    <div class="find_skincare_4">
      <img src=" assets//img/brightening.png" />
      <span>Brightening</span>
    </div>
    <i class="fa fa-angle-right"></i>
  </div> -->

  <div class="find_skincare ">
    <i class="fa fa-angle-left"></i>

    <div class="card" >
      <img src="assets/img/lines.png" class="card-img-top" alt="...">
      <span>Lines</span>
    </div>
    <div class="card" >
      <img src="assets/img/strength.png" class="card-img-top" alt="...">
      <span>Strength</span>
    </div>
    <div class="card" >
      <img src="assets/img/antioxidant.png" class="card-img-top" alt="...">
      <span>Antioxidants</span>
    </div>
    <div class="card" >
      <img src="assets//img/brightening.png" class="card-img-top" alt="...">
      <span>Brightening</span>
     </div>




    <i class="fa fa-angle-right"></i>
  </div>

  <div class="search_input_box">
    <i class="fa fa-search"></i>
    <input class=" search_input form-control" placeholder="Search Skincare" />
  </div>

  <div class="col-md-12 discover_box">
    <div class="left_discover">
      <img src=' assets/img/bespoke_logo.png'/>
    </div>
    <div class="right_discover">
      <span>Bace Bespoke is the world's first truly custom skincare.</span><br>
      <button class="btn btn-info discover_create">Create <i class="fa fa-angle-right "></i>
      </button><br>
      <!-- <a href="#" class="next round">next &#8250;</a> -->
      <button class="btn discover_discover">Discover More</button>
    </div>
  </div>

  <!-- Top User Skincare Creations starts -->

  <div class="col-md-12 mt-20 skincare_creations">
    <span CLASS="title_shop_sections">Top User Skincare Creations</span>
  </div>
  <div class="col-md-12 mt-20 skincare_creations">

    <div class=" creations_items_div" *ngFor="let i of items_CREATIONS">
      <i class="fa fa-plus"></i>
      <img style="margin-bottom: 22px;" [src]="i.src" alt="image" />
      <span class="item_div_info" style="padding:8px;">{{i.info}}</span><br>
      <span class="item_div_title">{{i.title}}</span><br>
      <span class="item_div_title">{{i.price}}</span><br>
    </div>
  </div>
  <!-- Top User Skincare Creations ends -->

  <div class="col-md-12">
    <button style="margin-left:22%;" class="btn btn-dark clear show_more_btn"> Show 4 More</button>
  </div>

  <div class="bespoke_ingredients">
    <span class="title_shop_sections"> New Bespoke Ingredients</span>

    <div class="add_bespoke">
      <div class="add_bespoke_left">
      <img src="assets/img/allantoin.png" /></div>
      <div class="add_bespoke_right">
        <h3>Allantoin</h3>
        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</span><br><br>
        <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

    <div class="add_bespoke">
      <div class="add_bespoke_left">
      <img class="image_bes" src="assets/img/allantoin.png" /></div>
      <div class="add_bespoke_right">
        <h3>Allantoin</h3>
        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</span><br><br>
        <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

    <div class="add_bespoke_list_box">

      <div class="add_bespoke_list">
        <div class="add_bespoke_list_item">
            <img class="add_bespoke_list_image" src="assets/img/allantoin.png" />
        </div>
          <h3>Allantoin</h3>
          <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
      </div>

      <div class="add_bespoke_list">
        <div class="add_bespoke_list_item">
            <img class="add_bespoke_list_image" src="assets/img/allantoin.png" />
        </div>
          <h3>Allantoin</h3>
          <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
      </div>

      <div class="add_bespoke_list">
        <div class="add_bespoke_list_item">
            <img class="add_bespoke_list_image" src="assets/img/allantoin.png" />
        </div>
          <h3>Allantoin</h3>
          <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
      </div>

    </div>

    <button class="btn btn-dark clear show_more_btn"> Bespoke Ingredients</button>

  </div>

  <!-- new thing container starts-->
  <div class="space"></div>
  <section class="new-thing">
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h" > New Thing Container</h2>
      </div>
    </div>
  </section>
  <div class="space"></div>
  <!-- new thing container ends-->

  <!-- Recent Post Container starts-->
  <div class="space"></div>
  <section class="new-thing">
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h" > Recent Post Container</h2>
      </div>
    </div>
  </section>
  <div class="space"></div>
  <!-- Recent Post Container ends-->





</div>
