.button{
	text-align: center;
	margin-left: 15px;
	margin-top: 20px;
	border-radius: 20px;
	text-align: right;
	display: inline-block;
}
.main-a{
	background-color: #A8A8A8;
	color: #fff;
	outline: none;
	border: none;
	font-size: 23px;
	padding-left: 14px;
    padding-right: 14px;
    margin-left: 0px!important;

}
.main-b{
	background-color: #66B59C;
	color: #fff;
	outline: none;
	border: none;
}
.main-c{
	background-image: linear-gradient(to right, #EAA299 10%, #7D8AB7  51%, #EBD9AC  100%);
	color: #fff;
	outline: none;
	border: none;
}
.main-d{
	background-color: #A8A8A8;
	color: #fff;
	outline: none;
	border: none;
}


@media only screen and (max-width:480px){
  .main-a{
    width: 222px;
    text-align: center
  }
    .main-b{
        width: 55%;
        text-align: center;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .main-c{
        width: 35%;
        text-align: center;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .main-d{
        width: 30%;
        text-align: center;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}
