<section class="new-thing" style="margin-top: 80px;">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h" >New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="new-thing">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h"> New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="new-thing">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h"> New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="new-thing">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h"> New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="recent-post">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="recent-post-h"> Recent Post Container</h2>
    </div>
  </div>
</section>
<section class="banner-section">
  <div class="container">

  </div>
</section>
<div class="space"></div>
<!-- Footer section -->
<section class="footer-section">
  <div class="container">
    <div class="footer-logo text-center ">
      <a href="index.html">


      </a>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xl-2 " style="text-align:center;">
        <button type="button" class="btn btn-outline-primary button main-a" id="my" ><i class="fa fa-comments-o">&nbsp;Live chat</i></button>
        </div>
      <div class="col-sm-4 col-xs-4">
        <button type="button" class="btn btn-outline-primary button main-b">Bace's Responsibility</button>

        <button type="button" class="btn btn-outline-success button main-c">Mentions</button>
        </div>
      <div class="col-sm-4 col-xs-4">

        <button type="button" class="btn btn-outline-danger button main-d">Support</button>

        <button type="button" class="btn btn-outline-light button main-e">Bace Info</button>

        <button type="button" class="btn btn-outline-primary button main-f">Legal</button>

    </div>
    </div>
  </div>
  <div class="social-links-warp">



<h4 class="text-black text-center mt-5" ><a href="#" style="color: #3F4D60!important;font-size: 20px!important;"> Made in Australia &copy; 2019 Bace Australia Pty Ltd  </a></h4>


    </div>


</section>
