<section class="new-thing" style="margin-top: 80px;">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h" >New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="new-thing">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">


      <h2 class="new-thing-h"> New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="new-thing">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h"> New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="new-thing">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="new-thing-h"> New Thing Container</h2>
    </div>
  </div>
</section>
<div class="space"></div>
<section class="recent-post">
  <div class="container">
    <div class="banner set-bg" data-setbg="#">
      <h2 class="recent-post-h"> Recent Post Container</h2>
    </div>
  </div>
</section>
<section class="banner-section">
  <div class="container">

  </div>
</section>
<div class="space"></div>
