<div class="component-starts">
  <div class="ingre_titl_box">
    <span class="ingre_titl">Bespoke Skincare Ingredients</span><br>
    <p class="ingre_title_filter">Filter by Skin Benefit</p>
  </div>

  <!-- <div class="col-md-12 find_skincare container-fluid">
    <i class="fa fa-angle-left"></i>
    <div class="col-md-3 col-sm-3">
      <img src=" assets/img/lines.png" />
      <span>Lines</span>
    </div>
    <div class="col-md-3 col-sm-3">
      <img src=" assets/img/strength.png" />
      <span>Strength</span>
    </div>
    <div class="col-md-3 col-sm-3">
      <img src=" assets/img/antioxidant.png" />
      <span>Antioxidants</span>
    </div>
    <div class="col-md-3 col-sm-3">
      <img src=" assets//img/brightening.png" />
      <span>Brightening</span>
    </div>
    <i class="fa fa-angle-right"></i>
  </div> -->

  <div class="find_skincare ">
    <i class="fa fa-angle-left"></i>

    <div class="card" >
      <img src="assets/img/lines.png" class="card-img-top" alt="...">
      <span>Lines</span>
    </div>
    <div class="card" >
      <img src="assets/img/strength.png" class="card-img-top" alt="...">
      <span>Strength</span>
    </div>
    <div class="card" >
      <img src="assets/img/antioxidant.png" class="card-img-top" alt="...">
      <span>Antioxidants</span>
    </div>
    <div class="card" >
      <img src="assets//img/brightening.png" class="card-img-top" alt="...">
      <span>Brightening</span>
     </div>
    <i class="fa fa-angle-right"></i>
  </div>

  <div class="search_input_box">
    <i class="fa fa-search"></i>
    <input class=" search_input form-control" placeholder="Search Ingredients" />
  </div>

  <button class="btn btn-light sort_button">Sort by... <i class="fa fa-angle-down"></i></button>

  <!-- Popular section starts -->
  <div class="popular_box">
    <span class="title_ingredient_sections">Popular</span>
  </div>

  <div class="image_box_box">
    <div class="popular_image_box" *ngFor="let item of images" >
      <img src="assets/img/allantoin_2.png"/>
      <span class="popular_title">Allantoin</span>
      <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
    </div>
  </div>
  <!-- Popular section ends -->

  <div class="col-md-12 discover_box_ing clear">
    <span class="disc_ques"> Not sure what ingredients suit your skin?</span>
    <div class="left_discover_ing">
      <img src='../../assets/img/Asset 26@4x.png'/>
    </div>
    <div class="right_discover_ing">
      <span class="faceprint_head_ing">FACEPRINT</span><br>
      <span class="faceprint_head_info_ing">Allow Faceprint to intelligently create custom skincare for you.</span><br>
      <button class="btn btn-dark discover_begin">Begin <i class="fa fa-angle-right "></i>
      </button><br>
      <button class="btn discover_discover">Discover More</button>
    </div>
  </div>

  <!-- Plant Extracts section starts -->
  <div class="popular_box clear">
    <span class="title_ingredient_sections">Plant Extracts</span>
  </div>

  <div class="image_box_box">
    <div class="popular_image_box" *ngFor="let item of images" >
      <img src="assets/img/allantoin_2.png"/>
      <span class="popular_title">Allantoin</span>
      <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
    </div>
  </div>
  <!-- Plant Extracts section ends -->

  <!-- Antioxidants section starts -->
  <div class="popular_box clear" style="padding-top:30px;">
    <span class="title_ingredient_sections">Antioxidants</span>
  </div>

  <div class="image_box_box">
    <div class="popular_image_box" *ngFor="let item of images" >
      <img src="assets/img/allantoin_2.png"/>
      <span class="popular_title">Allantoin</span>
      <div class="add_anchor"><a >Add to Bespoke</a><i class="fa fa-angle-right"></i></div>
    </div>
  </div>
  <!-- Antioxidants section ends -->

  <!-- Recent Post Container starts-->
  <div class="space clear"></div>
  <section class="new-thing">
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h" > New Thing Container</h2>
      </div>
    </div>
  </section>
  <div class="space"></div>
  <!-- Recent Post Container ends-->

  <!-- Recent Post Container starts-->
  <div class="space"></div>
  <section class="new-thing">
    <div class="container">
      <div class="banner set-bg" data-setbg="#">
        <h2 class="new-thing-h" > Recent Post Container</h2>
      </div>
    </div>
  </section>
  <div class="space"></div>
  <!-- Recent Post container ends-->

</div>
