<div class="component-starts" >
    <div class="back_to_cart"> <a routerLink="/login"><i class="fa fa-angle-left"></i> Back</a></div>

    <div class="cart_shipping_heading">Shipping Address</div>

    <div class="cart_shipping_body">
      <div class="cart_shipping_body_info">Select from previous addresses</div><br>


      <div class="cart_shipping_body_button_box">
        <button >John Smith<br>15 Freemans Rd, Mt Eliza VIC 3930, Australia</button>
        <i class="fa fa-angle-right"></i><br>

        <button>John Smith<br>15 Freemans Rd, Mt Eliza VIC 3930, Australia</button>
        <i class="fa fa-angle-right"></i><br>

        <button class="add_new_button">Add New Address</button>
        <i class="fa fa-angle-right add_new_button_i"></i><br>
      </div>



    </div>
</div>
