<div class="component-starts">

  <div class="main-face pigmented_screen" [class.hide]="loading_screen">
    <div class="main-con">
      <div class="center_face">
        <img class="face-first" src="assets\img\Asset 26@4x.png">
      </div>
      <div class="heading-face">
        <p class="h_face">How <b>pigmented</b> is your skin?</p>
      </div>
    </div>

    <div class="main-con ">
      <div class="face">
        <img [@fade]="state" (@fade.done)="onDone()" class="face_img" [src]="selected_cat.img">
      </div>
      <div class="progressbar">
        <h4 class="progressbar_h">{{selected_cat.title}}</h4>
      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <input (change)="onClick()" [(ngModel)]=sliderVal type="range" min="0" max="2" class="slider"
            [ngClass]="selected_cat.classe" id="myRange">
          <i (click)="showloader()" class="fa fa-angle-right"></i>

          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>

  <!-- loading image starts -->
  <div class="main-face  face_loading_screen" [class.show]="loading_screen">
    <div class="c">
      <div class="face_load">
        <img class="loading_image_" src="assets/img/faceprint_loading.png">
      </div>
      <div class="create_skin_face_loading">
        Creating Skincare<br> for You...
      </div>
      <div class="main_prog">

        <div class="slidecontainer">
          <p class="footer-face-p">Not to be treated as medical diagnoses<br>
            or advice.</p>
          <p class="footer-face-p">Bace cannot view or share your<br>
            personal Faceprint information.
          </p>
        </div>

      </div>

    </div>
  </div>
  <!-- loading image starts -->

</div>